.countryName {
    width: 16rem;
    display: flex;
    height: 2rem;
    margin: 0.2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: darkorange;
    font-weight: 700;
}

.loading {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    opacity: 0.3;
    display: flex;
    margin-top: 25%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}